Assumptions (To mimic real libraries)
1] All categories have already been inserted
2] All libraries have already been inserted
3] Books will not be removed from the table
4] Realistic Operations:
	books (update, insert)
	members (update, insert, delete)
	authors (update, insert)
	book-author mappings (insert)
	book-category mappings (insert)
5] Do whatever with borrowing and review tables